@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.background {
    position: absolute;
    width: 1457px;
    height: 1112px;
    left: 0px;
    top: 0px;
    
    background: #E1F3E7;
}
.focus-top {
    position: absolute;
    width: 1232px;
    height: 801px;
    left: 113px;
    top: 311px;
    
    background: #FFD1D1;
    border-radius: 29px;
}

.focus-foreground {
    position: absolute;
    width: 1232px;
    height: 720px;
    left: 113px;
    top: 392px;
    
    background: #CFAEAE;
    border-radius: 0px 0px 29px 29px;
}

.focus-breakline {
    position: absolute;
    width: 1226px;
    height: 0px;
    left: 113px;
    top: 392px;

    border: 3px solid #000000;
}

.about-me-tab {
    position: absolute;
    width: 200px;
    height: 55px;
    left: 392px;
    top: 337px;
    
    background: #CFAEAE;
    border-radius: 30px 30px 0px 0px;
}

.resume-tab {
    position: absolute;
    width: 200px;
    height: 55px;
    left: 629px;
    top: 337px;

    background: #CFAEAE;
    border-radius: 30px 30px 0px 0px;
}

.projects-tab {
    position: absolute;
    width: 200px;
    height: 55px;
    left: 866px;
    top: 337px;
    
    background: #CFAEAE;
    border-radius: 30px 30px 0px 0px;
}

.name {
    position: absolute;
    width: 514px;
    height: 81px;
    left: 489px;
    top: 230px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 59px;
    text-align: center;

    color: #000000;
}

.picture {
    position: absolute;
    width: 190px;
    height: 190.7px;
    left: 651px;
    top: 26px;

    background: url(../assets/headshot.jpg );
    border-radius: 209.5px;
}